<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UNO Lobby</title>  
        <link rel="stylesheet" href="/stylesheets/gamee.css">
    </head>
    <body>

        <div class="table">
            <div class="player player-top">
                <img src="/images/cards/Deck.png" class = "top-player-card">
                <img src="/images/cards/Deck.png" class = "top-player-card">
                <img src="/images/cards/Deck.png" class = "top-player-card">
                <img src="/images/cards/Deck.png" class = "top-player-card">
                <img src="/images/cards/Deck.png" class = "top-player-card">
                <img src="/images/cards/Deck.png" class = "top-player-card">
                <img src="/images/cards/Deck.png" class = "top-player-card">
            </div>

            <div class="player player-left">
                <img src="/images/cards/Deck.png" class = "left-player-card">
                <img src="/images/cards/Deck.png" class = "left-player-card">
                <img src="/images/cards/Deck.png" class = "left-player-card">
                <img src="/images/cards/Deck.png" class = "left-player-card">
                <img src="/images/cards/Deck.png" class = "left-player-card">
                <img src="/images/cards/Deck.png" class = "left-player-card">
                <img src="/images/cards/Deck.png" class = "left-player-card">
            </div>

            <div class="center-box">
                <img src="/images/cards/Deck.png" class="card card-1">
                <img src="/images/cards/Red_7.png" class="card card-2">
            </div>

            <div class="player player-right">
                <img src="/images/cards/Deck.png" class = "right-player-card">
                <img src="/images/cards/Deck.png" class = "right-player-card">
                <img src="/images/cards/Deck.png" class = "right-player-card">
                <img src="/images/cards/Deck.png" class = "right-player-card">
                <img src="/images/cards/Deck.png" class = "right-player-card">
                <img src="/images/cards/Deck.png" class = "right-player-card">
                <img src="/images/cards/Deck.png" class = "right-player-card">
            </div>

            <div class="player player-bottom">
                <img src="/images/cards/Red_1.png" class = "bottom-player-card">
                <img src="/images/cards/Red_4.png" class = "bottom-player-card">
                <img src="/images/cards/Wild.png" class = "bottom-player-card">
                <img src="/images/cards/Blue_Draw.png" class = "bottom-player-card">
                <img src="/images/cards/Blue_8.png" class = "bottom-player-card">
                <img src="/images/cards/Yellow_Skip.png" class = "bottom-player-card">
                <img src="/images/cards/Yellow_0.png" class = "bottom-player-card">
            </div>

        </div>

    </body>
</html>