<html>
    <head>
        <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UNO Lobby</title>  
        <link rel="stylesheet" href="/stylesheets/error.css">
    </head>
    </head>
    <body>
        <h1>Page Error</h1>
        <% if(error) { %>
            <h2>Error: <%= error %></h2>
        <% } %>
        <a href="/" class="btn">Home Page</a>
    </body>
</html>