<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Register</title>  
        <link rel="stylesheet" href="/stylesheets/register.css">
    </head>
    <body>
        <h1><a href="/" class="title">UNO</a></h1>
        <div class="register-container">
            <form action="/auth/register" method="POST" class="register-form">
                <h2>Register</h2>

                <div class="form-group">
                <label for="username">Username</label>
                <input
                    type="text"
                    id="username"
                    name="username"
                    required
                />
                </div>

                <div class="form-group">
                <label for="password">Password</label>
                <input
                    type="password"
                    id="password"
                    name="password"
                    required
                />
                </div>

                <div class="form-group">
                <label for="password">Copy Password</label>
                <input
                    type="password"
                    id="copy-password"
                    name="copy-password"
                    required
                />
                </div>

                <button type="submit">Log In</button>
            </form>
            <div class="login-container">
                <p>Already have an account?</p>
                <a class="login-link" href="/auth/login">Login</a>
            </div>
        </div>
    </body>
</html>