<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UNO Lobby</title>  
        <link rel="stylesheet" href="/stylesheets/root.css">
    </head>
    <body>
        <h1>UNO</h1>
        <a href="/auth/login" class="btn">
            <span class="btn-label">Play Now</span>

            <!-- 5 card images -->
            <img src="/images/cards/Red_0.png" class="card card-1">
            <img src="/images/cards/Red_7.png" class="card card-2">
            <img src="/images/cards/Green_4.png" class="card card-3">
            <img src="/images/cards/Yellow_Skip.png" class="card card-7">
            <img src="/images/cards/Yellow_5.png" class="card card-6">
            <img src="/images/cards/Blue_Reverse.png" class="card card-5">
            <img src="/images/cards/Wild.png" class="card card-4">
        </a>
    </body>
</html>