<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>UNO Lobby</title>  
        <link rel="stylesheet" href="/stylesheets/root.css">
    </head>
    <body>
        <h1>UNO</h1>
        <a href="/login" class="btn">Play Now</a>
    </body>
</html>