@font-face {
  font-family: 'BarberShop'; 
  src: url('../fonts/BarberChop.otf');
}

:root {
  --bg-color: #D12D36;
}

body {
    background: linear-gradient(to bottom, #d12d36 0%, #8a181d 100%);
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 80px;
    font-family: BarberShop;
    margin: 0;
    color: whitesmoke;

    text-shadow:
        7px 8px 0px black;
}

h2 {
    font-size: 60px;
    font-family: BarberShop;
    margin: 0;
    color: whitesmoke;

    text-shadow:
        7px 8px 0px black;
}

.btn {
  position: relative;
  font-size: 25px;
  font-family: BarberShop;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 1.5em;
  display: inline-block;
  cursor: pointer;
  border-radius: 5em;
  border: none;
  font-weight: 500;
  color: white;
  background: transparent;   
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn::after {
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}