body {
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to bottom, #D12D36 0%, #8A181D 100%);
}

h1 {
    margin: 0px;
}

.title {
    font-size: 240px;
    margin: 0px;
    color:black;
    text-decoration:none;
}

.login-container {
    background: #ffffff;
    width: 340px;
    padding: 24px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.25);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.login-form h2 {
    margin: 0;
    text-align: center;
    color: #222
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-group label {
    font-size: 14px;
    color: #222;
}

.form-group input {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #bbb;
    border-radius: 6px;
    outline: none;
}

.form-group input:focus {
    border-color: #333;
}

button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    opacity: 0.85;
}

.register-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

p {
    margin: 0;
    margin-right: 5px;
}

.register-link {
    color:black;
    font-weight: bold;
}